.form-container {
  background-color: whitesmoke;
  width: 40%;
  justify-content: center;
  padding: 1rem;
  box-shadow: $shadow;
  border-radius: 5px;
}

.form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.form__input {
  padding: 0.5rem;

  &:active {
    outline: none;
  }
}
