.form {
  @media screen and (max-width: 750px) {
    display: none;
  }
  @media screen and (min-width: 750px) {
    display: block;
  }
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  display: block;
  background-color: rgba(#49b7de, 0.3);
  width: 25%;
  justify-content: center;
  padding: 1rem;
  // border: 1px solid grey;
  box-shadow: $shadow;
  border-radius: 5px;

  @media screen and (max-width: 750px) {
    width: 100%;
  }
  &__inputs {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
  }

  &__input {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;

    &--field {
      background-color: rgba(white, 0.5);
      border: none;
      padding: 0.3rem 0.3rem;
      width: 3rem;
    }

    &:active {
      border: none;
      outline: none;
    }
    &--label {
      margin-bottom: 10px;
      font-family: inherit;
    }
  }

  &__heading {
    color: #148ffa;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #148ffa;
    margin: 1rem 0;

    @media screen and (max-width: 750px) {
      display: none;
    }
  }

  &__sub-heading {
    color: #148ffa;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #148ffa;

    @media screen and (max-width: 750px) {
      display: none;
    }
  }
}

.dropdown {
  width: 100%;
  // display: flex;
  // justify-self: center;
  // position: relative;
  // display: inline-block;

  &__btn {
    width: 98%;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover,
    &:focus {
      background-color: #5dabf0;
    }
  }

  &__content {
    display: none;
    position: absolute;
    background-color: #5dabf0;
    min-width: 2rem;
    box-shadow: $shadow;
    z-index: 1;

    & a {
      color: black;
      display: block;
      text-decoration: none;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: #148ffa;
      }
    }
  }
}

//////// BUTTON TO OPEN FORM

.shape-builder {
  width: 100%;
  display: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: none;
  background-color: #fff;
  color: #1060a5;
  border-radius: 10rem;
  box-shadow: $shadow;
  cursor: pointer;

  @media screen and (max-width: 750px) {
    display: block;
  }
}
