.dropdown {
  justify-self: left;
  position: relative;
  display: inline-block;

  &__btn {
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover,
    &:focus {
      background-color: #5dabf0;
    }
  }

  &__content {
    display: none;
    position: absolute;
    background-color: #5dabf0;
    min-width: 2rem;
    box-shadow: $shadow;
    z-index: 1;

    & a {
      color: black;
      display: block;
      text-decoration: none;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: #148ffa;
      }
    }
  }
}

.show {
  display: block;
}

.konva-container {
  z-index: 5;
}
