.shape-triangle {
  width: 0;
  height: 0;
  // border-left: 3rem solid transparent;
  // border-right: 3rem solid transparent;
  // border-bottom: 5rem solid purple;
  position: absolute;
  transform: translate(-50%, -50%);

  &:hover {
    cursor: pointer;
  }
}
